.js-shifr-type{
  border-radius: 20px;
  border: none;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}
.js-shifr-type:focus {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.input-textarea{
  resize: none;
  height: 300px;
  transition: box-shadow 0.3s ease;
  font-size: 14px;
  color: #222;
  font-family:  "Arial";

}
.output-textarea{
  resize: none;
  height: 300px;
  transition: box-shadow 0.3s ease;
  font-size: 14px;
  color: #222;
  font-family: "Arial";
}

.input-textarea:focus{
  outline: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.output-textarea:focus {
  outline: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

@media only screen and (max-width: 578px){
  .input-textarea {
    resize: none;
    height: 200px;
    transition: box-shadow 0.3s ease;
    font-size: 14px;
    color: #222;
    font-family: "Arial";

  }

  .output-textarea {
    resize: none;
    height: 200px;
    transition: box-shadow 0.3s ease;
    font-size: 14px;
    color: #222;
    font-family: "Arial";
  }

}
